<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" href="/static/imgs/cat_girl.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ChatRats人机对话平台</title>
    
  <script type="module" crossorigin src="/static/js/index.f44f4430.js"></script>
  <link rel="modulepreload" href="/static/js/@vue/@vue.8cde6db5.js">
  <link rel="modulepreload" href="/static/js/vuex/vuex.691bd36e.js">
  <link rel="modulepreload" href="/static/js/js-cookie/js-cookie.431252a9.js">
  <link rel="modulepreload" href="/static/js/axios/axios.aa79336e.js">
  <link rel="modulepreload" href="/static/js/localforage/localforage.e2e1a8bd.js">
  <link rel="modulepreload" href="/static/js/lodash-es/lodash-es.6278a1be.js">
  <link rel="modulepreload" href="/static/js/@vueuse/@vueuse.7a9a1709.js">
  <link rel="modulepreload" href="/static/js/@element-plus/@element-plus.3ec075bc.js">
  <link rel="modulepreload" href="/static/js/@popperjs/@popperjs.f1fb8f77.js">
  <link rel="modulepreload" href="/static/js/@ctrl/@ctrl.17547d95.js">
  <link rel="modulepreload" href="/static/js/dayjs/dayjs.b256a8a7.js">
  <link rel="modulepreload" href="/static/js/async-validator/async-validator.21881447.js">
  <link rel="modulepreload" href="/static/js/memoize-one/memoize-one.f0fba034.js">
  <link rel="modulepreload" href="/static/js/escape-html/escape-html.d572c0fd.js">
  <link rel="modulepreload" href="/static/js/normalize-wheel-es/normalize-wheel-es.db30398b.js">
  <link rel="modulepreload" href="/static/js/@floating-ui/@floating-ui.d0b58bd7.js">
  <link rel="modulepreload" href="/static/js/element-plus/element-plus.ea1b79bb.js">
  <link rel="modulepreload" href="/static/js/vue-router/vue-router.b56d7c25.js">
  <link rel="modulepreload" href="/static/js/nprogress/nprogress.869cf420.js">
  <link rel="modulepreload" href="/static/js/tslib/tslib.e35f93b8.js">
  <link rel="modulepreload" href="/static/js/zrender/zrender.fe59a237.js">
  <link rel="modulepreload" href="/static/js/echarts/echarts.5b4b2848.js">
  <link rel="stylesheet" href="/static/css/element-plus.5d23db1b.css">
  <link rel="stylesheet" href="/static/css/nprogress.18a10d8a.css">
  <link rel="stylesheet" href="/static/css/index.f03dee6f.css">
</head>
<body>
<div id="app"></div>
</body>
</html>
